html,
body {
    min-height: 100vh;
    background-color: rgb(44, 82, 154);
    align-items: center;
}

h1,
p,
a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    width: 100px;
    height: 40px;
    background: rgb(238, 188, 76);
    border-radius: 20px;
    border: solid;
    border-color: black;
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;
    display: inline;
}