<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/fellows.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <title>Find Fellows</title>
</head>

<body>
    <div class="column">
        <div class="row0">
            <a href="{{url_for('.index')}}"> <u>&lt Home</u></a>
            <h1>Search for <span class="yellow">MLH Fellows</span></h1>
        </div>

        <!-- filter HTML form  -->
        <div class="row1">
            <form action="{{ url_for('.fellows') }}" method="post">
                <div class="search1">
                    <label for="availability">Availability:</label>
                    <select name="availability" id="availability" multiple>
                        <option value="Spring23 Intern">Spring 2023 Internship</option>
                        <option value="Summer23 Intern">Summer 2023 Internship</option>
                        <option value="Fall23 Intern">Fall 2023 Internship</option>
                        <option value="Full Time ASAP">Full Time ASAP</option>
                </select>
                </div>
                <div class="search2">
                    <label for="interest">Interests:</label>
                    <select name="interest" id="interest" multiple>
                        <option value="Front-end">Front-end</option>
                        <option value="Back-end">Back-end</option>
                        <option value="Mobile">Mobile</option>
                        <option value="SRE/PE">SRE/PE</option>
                </select>
                </div>
                <div class="search3">
                    <label for="skills">Skills:</label>
                    <select name="skills" id="skills" multiple>
                        <option value="Python">Python</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="C++">C++</option>
                        <option value="Swift">Swift</option>
                </select>
                </div>
                <div class="search4">
                    <input type="submit" value="Submit">

                </div>
            </form>
        </div>


        <!-- fellows display-->
        <div class="row3">
            <div class="card-container">
                <!-- display 5 fellows -->
                {% for fellow in fellows[0:5] %}
                <div class="card">
                    <div class="col1">
                        <p><b>{{ fellow.name }}</b> - {{ fellow.batch[2:-2] }}</p>
                        <div style="display: flex; justify-content: space-between;">
                            <h5 style="border:none">Seeking:</h5>
                            {% for a in fellow.availability.strip('][').split(', ') %}
                            <h5 style="color: rgb(71, 124, 125); background-color: rgb(235, 254, 250);">{{a[1:-1]}}</h5>
                            {% endfor %}
                            <h5 style="border:none">&nbsp Interested in:</h5>
                            {% for i in fellow.interest.strip('][').split(', ') %}
                            <h5 style="color: rgb(71, 124, 125); background-color: rgb(235, 254, 250);">{{i[1:-1]}}</h5>
                            {% endfor %}
                            <h5 style="border:none">&nbsp Skilled in: </h5>
                            {% for s in fellow.skills.strip('][').split(', ') %}
                            <h5 style="color: rgb(71, 124, 125); background-color: rgb(235, 254, 250);">&nbsp{{s[1:-1]}}&nbsp</h5>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col2">
                        <a href="{{ fellow.linkedin }}"><button name="link">Linkedin</button></a>
                        <a href="{{ fellow.github }}"><button name="link">Github</button></a>
                        <a href="{{ fellow.portfolio }}"><button name="link">Portfolio</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- js plug in -->
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('availability', {})
        new MultiSelectTag('interest', {})
        new MultiSelectTag('skills', {})
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>