<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <title>Create Fellow</title>
</head>



<body>
    <div class="column">
        <div class="row0">
            <a href="{{url_for('.index')}}"> <u>&lt Home</u></a>
            <h1>Enter your <span class="yellow">info </span>here</h1>
        </div>

        <div class="row1">
            <div class="form-container">
                <form action="{{ url_for('.post_fellow_entries', _method='POST') }}" method="post" id="form">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" autocomplete="off"><br>

                    <label for="batch">Batch</label>
                    <select name="batch" id="batch" form="form" multiple>
                <option value="Spring 2022">Spring 2022</option>
              <option value="Summer 2022">Summer 2022</option>
              <option value="Fall 2022">Fall 2022</option>
              <option value="Spring 2023">Spring 2023</option>
              </select><br>
                    <label for="availability">Availability</label>
                    <select name="availability" id="availability" form="form" multiple>
                <option value="Spring23 Intern">Spring 2023 Internship</option>
              <option value="Summer23 Intern">Summer 2023 Internship</option>
              <option value="Fall23 Intern">Fall 2023 Internship</option>
              <option value="Full Time ASAP">Full Time ASAP</option>
              </select><br>
                    <label for="interest">Interest</label>
                    <select name="interest" id="interest" multiple>
                <option value="Front-end">Front-end</option>
                <option value="Back-end">Back-end</option>
                <option value="Mobile">Mobile</option>
                <option value="SRE/PE">SRE/PE</option>
              </select><br>
                    <label for="skills">Skills</label>
                    <select name="skills" id="skills" multiple>
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C++">C++</option>
                <option value="Swift">Swift</option>
              </select><br>
                    <label for="linkedin">Linkedin Link</label><br>
                    <input type="text" name="linkedin" autocomplete="off"><br>
                    <label for="github">Github Link</label><br>
                    <input type="text" name="github" autocomplete="off"><br>
                    <label for="portfolio">Portfolio Link</label><br>
                    <input type="text" name="portfolio" autocomplete="off"><br>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('batch', {})
        new MultiSelectTag('availability', {})
        new MultiSelectTag('interest', {})
        new MultiSelectTag('skills', {})
    </script>
</body>