<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Resume Book</title>
</head>

<body>
    <div class="box">
        <h1>MLH Fellows <span class="yellow">Resume Book</span></h1>
        <p>I am a... </p><br>
        <div class="buttons">
            <a href="{{url_for('.fellows')}}"><button name="button1">Recruiter</button></a>
            <a href="{{url_for('.form')}}">
                <button name="button2">Fellow</button>
            </a>
        </div>
    </div>
</body>

</html>